{% if config.apiKey == "" %}
    <h2>AVWX.rest API Key not configured.</h2>
{% else %}
    {% if metars|length > 0 %}
        {% set altRow = false %}
        <div class="metarTable {{ config.listClass }} {{ positionClass }}">
            {% for airport,metar in metars %}
                <div class="metar{% if config.alternateBackgrounds and altRow %} altRow{% endif%}{% if config.borderBottom %} borderBottom{% endif%}">{{ metar }}</div>
                {% set altRow = not altRow %}
            {% endfor %}
        </div>
    {% else %}
        <div class="dimmed light small">{{ "LOADING" | translate }}</div>
    {% endif %}
{% endif %}